<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.cn.project.dao">

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insertBlogs" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.cn.project.model.Blogs">
    <![CDATA[
        INSERT INTO blogs (
        	id ,
        	user_id ,
        	user_name ,
        	user_image ,
        	name ,
        	summary ,
        	content ,
        	created_at 
        ) VALUES (
        	#{id} ,
        	#{userId} ,
        	#{userName} ,
        	#{userImage} ,
        	#{name} ,
        	#{summary} ,
        	#{content} ,
        	#{createdAt} 
        )
    ]]>
	</insert>

	<update id="updateBlogs" parameterType="com.cn.project.model.Blogs">
    <![CDATA[
        UPDATE blogs SET
	        user_id = #{userId} ,
	        user_name = #{userName} ,
	        user_image = #{userImage} ,
	        name = #{name} ,
	        summary = #{summary} ,
	        content = #{content} ,
	        created_at = #{createdAt} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>

	<delete id="deleteBlogs">
    <![CDATA[
        DELETE FROM blogs WHERE
        id = #{id} 
    ]]>
	</delete>


</mapper>

