<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.cn.project.dao">

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insertUser" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.cn.project.model.User">
    <![CDATA[
        INSERT INTO user (
        	id ,
        	name ,
        	endTime 
        ) VALUES (
        	#{id} ,
        	#{name} ,
        	#{endTime} 
        )
    ]]>
	</insert>

	<update id="updateUser" parameterType="com.cn.project.model.User">
    <![CDATA[
        UPDATE user SET
	        name = #{name} ,
	        endTime = #{endTime} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>

	<delete id="deleteUser">
    <![CDATA[
        DELETE FROM user WHERE
        id = #{id} 
    ]]>
	</delete>


</mapper>

